In [1]:
# Dependencies
import pandas as pd
file = "Resources/Minimum Wage Data.csv"
wage_df = pd.read_csv(file, encoding="ISO-8859-1")

In [2]:
wage_df["High.Value"].fillna(0.00, inplace = True) 
wage_df[(wage_df["State"] == "U.S. Virgin Islands")]

,Year,State,Table_Data,Footnote,High.Value,Low.Value,CPI.Average,High.2018,Low.2018
47,1968,U.S. Virgin Islands,NaN,NaN,0.00,NaN,34.783333,NaN,NaN
102,1969,U.S. Virgin Islands,NaN,NaN,0.00,NaN,36.683333,NaN,NaN
157,1970,U.S. Virgin Islands,NaN,NaN,0.00,NaN,38.825000,NaN,NaN
212,1971,U.S. Virgin Islands,NaN,NaN,0.00,NaN,40.491667,NaN,NaN
267,1972,U.S. Virgin Islands,NaN,NaN,0.00,NaN,41.816667,NaN,NaN
322,1973,U.S. Virgin Islands,NaN,NaN,0.00,NaN,44.400000,NaN,NaN
377,1974,U.S. Virgin Islands,NaN,NaN,0.00,NaN,49.308333,NaN,NaN
432,1975,U.S. Virgin Islands,NaN,NaN,0.00,NaN,53.816667,NaN,NaN
487,1976,U.S. Virgin Islands,NaN,NaN,0.00,NaN,56.908333,NaN,NaN
542,1977,U.S. Virgin Islands,NaN,NaN,0.00,NaN,60.608333,NaN,NaN
597,1978,U.S. Virgin Islands,NaN,NaN,0.00,NaN,65.233333,NaN,NaN
652,1979,U.S. Virgin Islands,2.90,NaN,2.90,2.90,72.575000,10.01,10.01
707,1980,U.S. Virgin Islands,3.10,NaN,3.10,3.10,82.408333,9.42,9.42
762,1981,U.S. Virgin Islands,3.35,NaN,3.35,3.35,90.925000,9.23,9.23
817,1982,U.S. Virgin Islands,3.35,NaN,3.35,3.35,96.500000,8.69,8.69
872,1983,U.S. Virgin Islands,3.35,NaN,3.35,3.35,99.600000,8.42,8.42
927,1984,U.S. Virgin Islands,3.35,NaN,3.35,3.35,103.883333,8.07,8.07
982,1985,U.S. Virgin Islands,3.35,NaN,3.35,3.35,107.566667,7.80,7.80
1037,1986,U.S. Virgin Islands,3.35,NaN,3.35,3.35,109.608333,7.65,7.65
1092,1987,U.S. Virgin Islands,3.35,NaN,3.35,3.35,113.625000,7.38,7.38
1147,1988,U.S. Virgin Islands,3.35,NaN,3.35,3.35,118.258333,7.09,7.09
1202,1989,U.S. Virgin Islands,3.35,NaN,3.35,3.35,123.966667,6.77,6.77
1257,1990,U.S. Virgin Islands,3.35,NaN,3.35,3.35,130.658333,6.42,6.42
1312,1991,U.S. Virgin Islands,"4..65(g,,j)","(g, j)",4.65,4.65,136.191667,8.55,8.55
1367,1992,U.S. Virgin Islands,"4..65(g,,j)","(g, j)",4.65,4.65,140.316667,8.30,8.30
1422,1993,U.S. Virgin Islands,"4..65(g,,j)","(g, j)",4.65,4.65,144.458333,8.06,8.06
1477,1994,U.S. Virgin Islands,"4..65(g,,j)","(g, j)",4.65,4.65,148.225000,7.86,7.86
1532,1995,U.S. Virgin Islands,"4..65(g,,j)","(g, j)",4.65,4.65,152.383333,7.64,7.64
1587,1996,U.S. Virgin Islands,4.65(g),(g),4.65,4.65,156.850000,7.42,7.42
1642,1997,U.S. Virgin Islands,"4.65(g, j)","(g, j)",4.65,4.65,160.516667,7.25,7.25
1697,1998,U.S. Virgin Islands,"4.65(g, j)","(g, j)",4.65,4.65,163.008333,7.14,7.14
1752,1999,U.S. Virgin Islands,"4.65(g, j)","(g, j)",4.65,4.65,166.575000,6.99,6.99
1807,2000,U.S. Virgin Islands,"4.30 - 4.65(g,j)","(g, j)",4.65,4.30,172.200000,6.76,6.25
1862,2001,U.S. Virgin Islands,"4.30 - 4.65(g,j)","(g, j)",4.65,4.30,177.066667,6.58,6.08
1917,2002,U.S. Virgin Islands,"4.30 - 4.65(g,j)","(g, j)",4.65,4.30,179.875000,6.47,5.99
1972,2003,U.S. Virgin Islands,"4.30 - 4.65(g,j)","(g, j)",4.65,4.30,183.958333,6.33,5.85
2027,2004,U.S. Virgin Islands,"4.30 - 4.65(g,j)","(g, j)",4.65,4.30,188.883333,6.16,5.70
2082,2005,U.S. Virgin Islands,"4.30 - 4.65(g,j)","(g, j)",4.65,4.30,195.291667,5.96,5.51
2137,2006,U.S. Virgin Islands,4.30 - 4.65 (g),(g),4.65,4.30,201.591667,5.78,5.34
2192,2007,U.S. Virgin Islands,"4.30-6.15(g,j)","(g, j)",6.15,4.30,207.342417,7.43,5.19
2247,2008,U.S. Virgin Islands,4.30-6.15(j),(j),6.15,4.30,215.302500,7.15,5.00
2302,2009,U.S. Virgin Islands,4.30-6.15(j),(j),6.15,4.30,214.537000,7.18,5.02
2357,2010,U.S. Virgin Islands,4.30-7.25(j),(j),7.25,4.30,218.055500,8.33,4.94
2412,2011,U.S. Virgin Islands,4.30-7.25(j),(j),7.25,4.30,224.939167,8.07,4.79
2467,2012,U.S. Virgin Islands,4.30-7.25(j),(j),7.25,4.30,229.593917,7.91,4.69
2522,2013,U.S. Virgin Islands,4.30-7.25(j),(j),7.25,4.30,232.957083,7.79,4.62
2577,2014,U.S. Virgin Islands,4.30-7.25(j),(j),7.25,4.30,236.736167,7.67,4.55
2632,2015,U.S. Virgin Islands,4.30-7.25(j),(j),7.25,4.30,237.017000,7.66,4.54
2687,2016,U.S. Virgin Islands,4.30-7.25(j),(j),7.25,4.30,240.007167,7.56,4.49
2742,2017,U.S. Virgin Islands,4.30-7.25(j),(j),7.25,4.30,245.119583,7.41,4.39

In [3]:
wage_df_clean = wage_df[["Year", "State", "High.Value", "CPI.Average", "High.2018"]].copy()
wage_df_clean.rename(columns = {"Year": "Year", "State": "State",'High.Value':'Minimum Wage', 'CPI.Average':'CPI Average', 
                              'High.2018':'Wage equivalent in 2018'}, inplace = True) 
wage_df_clean["Minimum Wage"] = wage_df_clean["Minimum Wage"].map("{:,.2f}".format)
wage_df_clean

      Year          State Minimum Wage  CPI Average  Wage equivalent in 2018
0     1968        Alabama         0.00    34.783333                     0.00
1     1968         Alaska         2.10    34.783333                    15.12
2     1968        Arizona         0.66    34.783333                     4.75
3     1968       Arkansas         0.16    34.783333                     1.12
4     1968     California         1.65    34.783333                    11.88
...    ...            ...          ...          ...                      ...
2745  2017       Virginia         7.25   245.119583                     7.41
2746  2017     Washington        11.00   245.119583                    11.24
2747  2017  West Virginia         8.75   245.119583                     8.94
2748  2017      Wisconsin         7.25   245.119583                     7.41
2749  2017        Wyoming         5.15   245.119583                     5.26

[2750 rows x 5 columns]

In [4]:
#fed_wage_def = {"1968":"1.60"},{"1969":"1.60"},{"1970":"1.60"},{"1971":"1.60"},{"1972":"1.60"},{"1973":"1.60"},{"1974":"2.00"},{"1975":"2.10"},{"1976":"2.30"},{"1977":"2.30"},{"1978":"2.65"},{"1979":"2.90"},{"1980":"3.10"},{"1981":"3.35"},{"1982":"3.35"},{"1983":"3.35"},{"1984":"3.35"},{"1985":"3.35"},{"1986":"3.35"},{"1987":"3.35"},{"1988":"3.35"},{"1989":"3.35"},{"1990":"3.80"},{"1991":"4.25"},{"1992":"4.25"},{"1993":"4.25"},{"1994":"4.25"},{"1995":"4.25"},{"1996":"4.75"},{"1997":"5.15"},{"1998":"5.15"},{"1999":"5.15"},{"2000":"5.15"},{"2001":"5.15"},{"2002":"5.15"},{"2003":"5.15"},{"2004":"5.15"},{"2005":"5.15"},{"2006":"5.15"},{"2007":"5.85"},{"2008":"6.55"},{"2009":"7.25"},{"2010":"7.25"},{"2011":"7.25"},{"2012":"7.25"},{"2013":"7.25"},{"2014":"7.25"},{"2015":"7.25"},{"2016":"7.25"},{"2017":"7.25"}
fed_wage_eqvt_2018 ={1968:11.55,1969:10.95,1970:10.36,1971:9.93,1972:9.62,1973:9.05,1974:10.19,1975:9.81,1976:10.16,1977:9.54,1978:10.21,1979:10.04,1980:9.45,1981:9.26,1982:8.72,1983:8.45,1984:8.10,1985:7.82,1986:7.68,1987:7.41,1988:7.11,1989:6.79,1990:7.3,1991:7.84,1992:7.61,1993:7.39,1994:7.25,1995:7.01,1996:7.61,1997:8.06,1998:7.94,1999:7.77,2000:7.51,2001:7.31,2002:7.19,2003:7.03,2004:6.85,2005:6.62,2006:6.42,2007:7.09,2008:7.64,2009:8.49,2010:8.35,2011:8.10,2012:7.93,2013:7.82,2014:7.69,2015:7.68,2016:7.59,2017:7.43}
fed_wage_def ={1968:1.60,1969:1.60,1970:1.60,1971:1.60,1972:1.60,1973:1.60,1974:2.00,1975:2.10,1976:2.30,1977:2.30,1978:2.65,1979:2.90,1980:3.10,1981:3.35,1982:3.35,1983:3.35,1984:3.35,1985:3.35,1986:3.35,1987:3.35,1988:3.35,1989:3.35,1990:3.80,1991:4.25,1992:4.25,1993:4.25,1994:4.25,1995:4.25,1996:4.75,1997:5.15,1998:5.15,1999:5.15,2000:5.15,2001:5.15,2002:5.15,2003:5.15,2004:5.15,2005:5.15,2006:5.15,2007:5.85,2008:6.55,2009:7.25,2010:7.25,2011:7.25,2012:7.25,2013:7.25,2014:7.25,2015:7.25,2016:7.25,2017:7.25}

In [5]:
for i, wage in enumerate(wage_df_clean["Minimum Wage"]):
    if (wage == "0.00"):
       wage_df_clean.loc[i,'Minimum Wage'] = fed_wage_def[wage_df_clean.loc[i,"Year"]]
       wage_df_clean.loc[i,'Wage equivalent in 2018'] = fed_wage_eqvt_2018[wage_df_clean.loc[i,"Year"]]

In [6]:
wage_df_clean.to_csv("Resources/Minimum_Wage_Updated_new.csv", index=True, header=True)